@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.prose {
  max-width: 65ch;
}

.prose p {
  @apply mb-4;
}

.dark .prose-invert {
  --tw-prose-body: #D1D5DB; /* static gray-300 color */
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
